<h3>Create a new Comment</h3>

<form method="post" action="/create-comment">
  Content <input type='text' name='content'>
  Author <input type='text' name='author'>
  <input type="submit" name="">
</form>
