<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/new">Add New User, Article, or Comment</a></li>
    </nav>
    <h2>Click link to edit or delete item</h2>
    <%= yield %>
  </body>
</html>
