<h3>Create a new Article</h3>

<form method="post" action="/create-article">
  Title <input type='text' name='title'>
  Author <input type='text' name='author'>
  <input type="submit" name="">
</form>
